@import '../../Scss/root';

.btn {
	border: none;
	color: $primary-color;
	cursor: pointer;
	display: inline-block;
	outline: none;
	padding: 0;
	text-decoration: none;
	text-transform: uppercase;

	&--spaced { margin-left: 3em }

	&-button {
		background-color: $primary-color;
		border-radius: 50%;
		border: none;
		font-size: 0!important;
		height: 65px;
		position: relative;
		width: 65px;
	}

	@media screen and (min-width: 768px) {
		font-size: 0.875rem;
	}
}
