@import '../../Scss/root';

.question__answer {
	&-btn {
		&--incorrect {
			background-color: $incorrect-color;
			margin-right: .5rem;

			@media screen and (max-width: 767px) {
				margin-right: 1rem;
			}
		}

		&--correct { background-color: $correct-color; }
	}
}
