$primary-color: #000!default;
$secondary-color: #fff!default;

$correct-color: #3288ec!default;
$incorrect-color: #ee1c2e!default;
$incorrect-secondary-color: #d0021b!default;

$intro-color: #fbe28b!default;
$questions-color: #def6ca!default;
$result-color: #ffbbee!default;
$summary-color: #bdb5dd!default;

$container: 1170px!default;
$textContainer: 945px!default;

$fontFamily: "Helvetica Neue", sans-serif!default;
$text-color: $primary-color!default;
