$primary-color: #000!default;
$secondary-color: #fff!default;
$correct-color: #3288ec!default;
$incorrect-color: #ee1c2e!default;
$incorrect-secondary-color: #d0021b!default;
$text-color: #444!default;
$container: 1170px!default;
$textContainer: 945px!default;
$fontFamily: "Helvetica Neue", sans-serif!default;
