$primary-color: #000!default;
$secondary-color: #fff!default;

$correct-color: #3d96ff!default;
$incorrect-color: #d0021b!default;

$welcome-color: #fbe28b!default;
$instructions-color: #9adfea!default;
$questions-color: #aeefbb!default;
$result-color: #ffbbee!default;
$summary-color: #bdb5dd!default;

$container: 1170px!default;
$textContainer: 945px!default;

$fontFamily: "Helvetica Neue", sans-serif!default;
$text-color: $primary-color!default;
